/* Styling for the Pokemon Detail component */ 
.pokemon-detail-container {
    background-color: #dbe9ee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    width: 60%;
    margin-top: 2%;
    align-items: center;
    /* I could not figure out how to center it, it just did not work with the usual properties, so I fixed it the way below */
    margin-left: 18%;   
    margin-right: 20%
  }

.pokemon-table {
    width: 100%;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    padding: 10px;
    font-size: large;
    background-color: white;
    border-radius: 20px;
}

td:first-child {
    color: white;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(190, 14, 14);
}

.pokemon-picture {
    height: 80%;
    width: 80%;
    transition: transform 0.3s;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.spin-animation {
    animation: spin 1s linear; 
}

.pokemon-picture:hover {
    transform: scale(1.05);
    cursor: pointer;
}

